<h1>作曲家</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <div class="users-name">
      <%= link_to user.name, user %>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>