<div class="center jumbotron">
  <h1>MUON-FACTORYへようこそ</h1>

  <p>
    こちらは無料でBGMをダウンロードできるサイトです。
  </p>
 <p>クリエイターとしてBGMを投稿したい方は会員登録をしてください</p>

  <%= link_to "登録はこちら!", signup_path, class: "btn btn-lg btn-primary" %>
</div>